    *
    {
      text-decoration: none;
     
    }
    
    body
    {
        margin: 0;
        padding: 0;
        /*background-color: rgb(28, 35, 68);*/
        background-image: linear-gradient(120deg,#487eb0,#fcb531);
        min-height: 100vh;
        font-size: 1.3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    
    }
    svg
    {
      height: 20px;
    }

    h2
    {
        text-align: center;
        border:1px solid rgb(36, 136, 139);
        width:50%;
        margin: 40px auto;
        font-family: "Monserat", sans-serif;
        border-radius: 10px;
        background-color: #e6ba69;
        margin-bottom: 100px;
       
        -webkit-box-shadow: 3px 3px 9px 8px #487eb0;
        -moz-box-shadow: 3px 3px 9px 8px rgba(140,140,140,0.57);
    }
  
    .addtasks
    {
      color: black;
      font-family: "Roboto",sans-serif;
      font-size: large;
    }

    /*******Button edit*********/
    tr td a button
    {
      border-radius: 3px;
      width: 60px;
      background-color: #487eb0;
      display: flex;
      margin: auto;
      justify-content: center;
      border-style: none;
      text-align: center;

    }
    
    .button-add
    {
      
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom:100px ;
      border-radius: 5px;
      background-color: #487eb0;
      width: 120px;
      height: 50px;
      border-style: none;
      transition: .7s ease-in-out;
      
    }

    
    
    .delete a
    {
        
        color:#487eb0;
        border-radius: 3px;
        margin:10px 5px;
        padding: 1px 6px;
        text-decoration:none;
        
    }
    /********Input add news tasks*******/
    .input-add
    {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60%;
      height: 80px;
      margin: auto;
      margin-top: 80px;
      border-radius: 5px;
      padding-top:0;
      transition: .7s ease-in-out;
    }
    .delete
    {
      text-align: center;
    
    }

    table
    {
        width: 60%;
        border:1px solid rgb(36, 136, 139);
        margin: auto;
        border-radius: 10px;
    }

    .edit
    {
      display:flex;
      justify-content: center;
      margin-top: 80px;
    }
    .edit input
    {
      width: 500px;
      height: 45px;
      border-radius: 7px;
    }
    .edit button
    {
      border-radius: 5px;
      background-color: #487eb0;
      width: 120px;
      height: 50px;
      border-style: none;
    }
      
      .task
      {
        width: 100%;
        background: rgba(255,255,255,0.5);
        padding: 18px;
        margin: 6px 0;
        overflow: hidden;
      }
      .all-button
      {
          text-align: center;
      }
      .add-tasks
      {
      margin-left: 950px;
      margin-bottom: -50px;
      }
      
      